#infractionManager{
	margin-top: 100px;
	width: 440px;
}

#sectionBtnsContainer{
	margin-top: 20px;
}

#viewInfractionsList{
	width: 200px;
	height: 270px;
	background-color: #777777;
	border: 2px solid black;
	padding: 10px;
	float: left;
	color: black;
}

#addInfractionToList{
	width: 200px;
	height: 270px;
	background-color: #777777;
	border: 2px solid black;
	padding: 10px;
	float: right;
	color: black;
}

#viewInfractionsList:hover{
	color: white;
}

#addInfractionToList:hover{
	color: white;
}

.buttonTxt{
	margin-left: 15%;
	margin-top: 110px;
	font-weight: bold;
	font-size: 14px;
	font-family: calibri;
}